<div class="container bgimg" align="center">
	<img src="/assets/logo.png" class="logo">
	<div class="header-phone">
		Call Now: 888-554-9093
	</div>
	<div class="formimg">
		<div class="form-heading">
			Qualify for a Free Disability Consultation
		</div>
		<div class="progress">
			<div class="bar" style="width:10%;"></div>
		</div>
		<%= form_for User.new, remote: true, :html => {:id => "form1"} do |f| %>
			<%= f.label :age, 'How old are you?' %>
			<%= f.select :age, options_for_select(("18".."62")), {:include_blank => 'Select from'}, :onchange => ("$('#form1').submit()") %>
			<div id="newsubmit1"/>
		<% end %>
		<div class="phrase2">
			Qualify for a Free Disability Consultation
		</div>
	</div>
</div>
<div class="box-background">
	<div class="box-title">
		Receive a <span class="box-free">FREE</span> case evaluation
	</div>
	<div class="box-desc">
		<span class="box-bold">Speak</span> with a Disability Attorney
	</div>
	<div class="box-desc">
		<span class="box-bold">Find</span> Out If You Qualify
	</div>
	<div class="box-desc">
		<span class="box-bold">Learn</span> How to Apply for Benefits
	</div>
</div>
</div>
<div class="container">
	<div class="logos-box" align="left">
		<div class="box-bold">What are Social Security Disability Benefits?</div>
		The Social Security Disability program provides assistance to those who cannot work due to a disabling condition. The program is administered by the Social Security Administration (SSA), and only those who meet the strict requirements of the SSA can receive benefits. 
		<br><br>
		<div class="box-bold">Do I Qualify for Benefits?</div>
		The top two requirements for SSDI Benefits are meeting the definition of “disabled,” and having enough work credits. In order to have enough work credits, you typically must have worked at least 5 of the last 10 years. Another requirement is that your disability must prevent you from working. You must be unable to work, and be expected to not return to work in the next 12 months. In order to win benefits, it is also crucial that you have seen a doctor for this condition. Unless your condition has been medically documented by a doctor, it is unlikely you will have enough evidence to win benefits.
		<br><br>
		<div class="box-bold">How do I Apply?</div>
		You can apply for benefits directly to the Social Security Administration online or in person at the SSA Office. However, due to the high volume of applicants, and the fact that the application process is so complicated, up to 70% of these claims are denied. In addition, you are likely to wait about a year for a court date. In order to speed up the process and increase your chances of getting approved, most experts recommend that you get the help of a disability benefits attorney. An attorney will complete your application for you, ensure you have all the necessary medical evidence, and represent you in court. Statistically, you have a much higher chance of winning benefits if you have a legal representative. 
	</div>	
</div>
<div class="disclaimer">
	<div class="container" align="center">
		<div class="privacy">
			<a href="/privacy"> Privacy Policy</a> | 
			<a href="/about_us"> About Us </a> |
			<a href="/fees"> Fees </a>
		</div>
	</div>
	<div class="container" align="left">
		<b><span style="font-size:12px;">ATTORNEY ADVERTISEMENT</span></b> – The information that you provide on this website is sent to a participating attorney or advocate solely on the basis of the zip code that you provide and not by any other means of evaluation.  These participating attorneys and advocates pay a fee to be part of this website and receive inquiries solely based upon the geographic regions that they choose to service.  The information that you provide on this website is used by the attorney or advocate to make a preliminary evaluation of your claim.  Not until an attorney or advocate has spoken to you on the telephone can a complete evaluation be made as to your potential eligibility for disability benefits. The ultimate determination as to the eligibility of disability benefits will be made by the Social Security Administration.<br> <b><span style="font-size:12px;"><br>NJ residents only: please <a href="/nj">click here</span></b></a> to view a list of attorneys who are responsible for advertisement to prospective clients in the state of New Jersey.<br>FEES: YOU WILL NOT BE CHARGED A FEE unless your attorney or advocate wins your case. If a case is won in your favor, the fee is not paid out of your pocket, but instead is paid directly to the attorney/advocate directly from the Social Security Administration.  The fees are set by the Social Security Administration and your representative is not allowed to charge more than $6,000 or 25% of all past due benefits whichever is less through the initial hearing.  If you are not successful at the initial hearing and your attorney/advocate must appeal your case, they can charge additional fees which will be stated in your fee agreement with that attorney/advocate.  Each attorney or advocate will have you sign a fee agreement that will allow them to be paid a fee directly by the Social Security Administration. 
	</div>
</div>
<%= render '/users/form2' %>
<%= render '/users/form3' %>
<%= render '/users/form4' %>
<%= render '/users/form5' %>
<%= render '/users/form5b' %>
<%= render '/users/form5c' %>
<%= render '/users/form6' %>
<%= render '/users/form7' %>